@charset "utf-8"; 
@font-face {
    font-family: 'Roboto';
    src: 
        local('Roboto'), 
        local('Roboto-Regular'), 
        url('/src/assets/fonts/Roboto.woff2') format('woff2'), 
        url('/src/assets/fonts/Roboto.woff') format('woff'), 
        url('/src/assets/fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
*{
    font-family: 'Roboto'!important;
    font-weight: 400;
    //color: #525252;
}
body{
    margin: 0px!important;
}