$Ubuntu: 'Ubuntu';
$Futuris: 'Futuris Bold';
$mainColor: #CC0033;

@mixin fons($size: 1rem) {
  font-size: $size !important;
}
@mixin fontFamily($family: $Ubuntu) {
  font-family: $family!important;
}

td, td > *{
  @include fons(1rem);
}

.headerInput{
    justify-content: flex-end;
    margin-bottom: 7px;
    & label + .MuiInput-formControl{
      margin-top: 10px
    }
    & .MuiInputLabel-shrink{
      transform: translate(0, 6px) scale(0.75);
      transform-origin: top left
    }
}
.otherAddr{
    display: flex;
    flex-Direction: row;
    width: 100%;
    align-items: center;
    padding-bottom: 8px;
    & .MuiOutlinedInput-input{
      padding: 10px 14px;
    }
    & .MuiInputLabel-outlined{
      transform: translate(14px, 13px) scale(1);
    }
    & .MuiInputLabel-outlined.MuiInputLabel-shrink{
      transform: translate(14px, -6px) scale(0.75);
    }
    & .MuiFormControl-root.MuiTextField-root{
      width: 100%;
    }
}
.mainAddr{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    & > div > div > div{
      padding: 0px !important;
    }
    & > div > div > label{
      transform: translate(14px, 13px) scale(1);
    }
    & .MuiOutlinedInput-input{
      padding: 10px 14px;
    }
    & .MuiInputLabel-outlined{
      transform: translate(14px, 13px) scale(1);
    }
    & .MuiInputLabel-outlined.MuiInputLabel-shrink{
      transform: translate(14px, -6px) scale(0.75);
    }
}
.addrComment{
    width: 100%;
    margin-right: 8px; 
    display: flex;
    flex-direction: column;
    & > div:last-child{
      width: 33%!important;
    }
    & > div{
      margin-top: 8px;
    }
    & input.MuiInputBase-input.MuiInputBase-input.MuiOutlinedInput-input{
      padding: 7px 14px;
    }
    & .MuiOutlinedInput-multiline{
      padding: 7px 14px;
    }
    & .MuiInputLabel-outlined{
      transform: translate(14px, 9px) scale(1);
    }
    & .MuiInputLabel-outlined.MuiInputLabel-shrink{
      transform: translate(14px, -6px) scale(0.75);
    }
    & .MuiFormControl-root.MuiTextField-root{
      width: 100%;
    }
}
.formPred{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-bottom: 8px;
    & .MuiOutlinedInput-input{
      padding: 10px 14px;
    }
    & .MuiInputLabel-outlined{
      transform: translate(14px, 13px) scale(1);
    }
    & .MuiInputLabel-outlined.MuiInputLabel-shrink{
      transform: translate(14px, -6px) scale(0.75);
    }
    & > div:first-child{
      width: 60%;
      margin-right: 8px;
    }
    & > div:last-child{
      width: 40%;
      margin-right: 8px;
    }
}
.blockTotalOrder{
    width: 100%;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.formControl{
    margin: 8px;
    min-width: 120px;
}
.boxPic{
    background-color: #e5e5e5;
    padding: 6px 12px!important;
    margin-bottom: 10px!important;
    cursor: pointer!important;
    &:hover{
        background-color: #6ab04c!important;
        color: #fff!important;
    }
    &.active{
        background-color: #6ab04c!important;
        color: #fff!important;
    }
    & span:first-child{
        text-align: center!important;
    }
    & span:last-child{
        text-align: center!important;
    }
}
.container{
    padding-top: 16px;
    & button.MuiTab-root{
      padding: 0px 12px;
      min-height: auto;
    }
    & .MuiTabs-scroller{
      height: fit-content;
    }
    & .MuiTabs-root{
      min-height: auto;
    }
}
.chooseDomTrue{
    width: 100%;
    & button.active{
      background-color: #6ab04c;
      color: #fff;
    }
    & button:not(.active){
      background-color: #fff;
      border: 1px solid #6ab04c;
      color: #6ab04c;
    }
    & > button{
      width: 50%;
    }
    & span{
      font-size: 0.8rem!important;
      width: 100%;
      text-transform: none;
      white-space: nowrap;
    }
    & .MuiButtonGroup-groupedContainedHorizontal:not(:last-child){
      border-right: none
    }
}
.MuiList-root.MuiList-padding{
  & > div:hover{
    background-color: #6ab04c;
    color: #fff;
  }
  & .Mui-selected{
    background-color: #6ab04c;
    color: #fff;
  }
}
.MuiTable-root.MuiTable-stickyHeader{
  & .MuiTableCell-root{
    padding: 0px 16px;
  }
}
.MuiAppBar-colorPrimary{
  background-color: #fff!important;
  color: #000!important;
  & .Mui-selected{
    background-color: #6ab04c;
    color: #fff;
  }
}
.MuiTab-textColorPrimary.Mui-selected{
  color: #6ab04c!important;
}
.PrivateTabIndicator-colorPrimary-14{
  background-color: #6ab04c!important;
}
.blockTotalOrder .MuiButton-containedPrimary{
  background-color: #6ab04c!important;
}
.InputMask{
  border: 1px solid #000;
  border-radius: 4px;
  //@include fons(1.1rem, $Ubuntu);
  letter-spacing: 0.6px;
  padding: 9px 15px 9px 15px;
  &:focus{
      outline: inherit!important;
  }
}
.MuiTabs-indicator{
  background-color: #6ab04c !important;
}

.DialogOrderCheckDialog .MuiDialog-paperFullWidth{
  width: calc(100% - 24px)!important;
  margin: 12px!important;
}
.orderCheckTitle{
  @include fons(1.3rem);
  padding: 16px;
  padding-bottom: 0;
  text-align: center;
}
.closeDialog{
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;
  color: #6ab04c;
  cursor: pointer;
}
.tableOrderCheck{
  border-collapse: collapse;
  width: 100%;
  & tbody{
      border-bottom: 2px solid #96969A;
      & tr:not(:last-child){
          border-bottom: 1px solid #96969A;
      }
      & td{
          padding: 5px 0;
      }
  }
  & .namePrice.orderCheckText{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }
}
.orderCheckText{
  @include fons(1rem);
  padding-bottom: 10px;
  &.bold{
      font-weight: bold;
  }
}
.tableOrderCheck .orderCheckText{
  padding-bottom: 0px;
}
.nameSdacha.orderCheckText{
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}
.CardInCardItem{
  background-color: #6ab04c!important;
  color: #fff!important;
}
.DialogErrText{
  @include fons(1rem);
  text-align: center;
}
.DialogChooseNewAddr div.BtnBorder, 
.DialogChoosePicDialog div.BtnBorder,
.DialogErr div.BtnBorder{
    width: 100%;
    margin: 14px 0px;
    & button{
        width: 100%;
    }
}
.DialogErr .MuiDialog-paper{
    min-width: 300px;
}
.DialogErr div.BtnBorder{
    margin: 14px 14px;
}
.btnClear{
  background-color: #CC0033!important;
  color: #fff!important;
}