#ForMap{
    min-height: 400px;
    height: 40%;
    width: calc(100% - 104px);
    @media (max-width: 960px) {
        margin-bottom: 40px;
        margin-left: 12px;
        margin-right: 12px;
    }
}
.my-hint{
    width: 300px;
    //@include fons(0.9rem, $Ubuntu);
    display: inline-block;
    position: relative;
    left: -120px;
    top: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 16px;
}